@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.content{
    margin-left: 25%;
    width: 50%;
}
h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: white;    
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
.image{
    border: 5px solid white;
}
img{
    width: 100%;
}
